.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: aquamarine;
    height: 50px;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li{
    display: flex;
}
.navbar li a{
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}